# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.coverage
.coverage
.pytest_cache/

# Environments
.venv/
venv/
ENV/

# Reports & build artifacts
reports/
build/
.coverage
.pytest_cache/

# Qase (third-party test report) artifacts
qaseio.lock
build/qase-report/

# OS / editor
.DS_Store
*.swp

# Archives
*.zip
